<article class="post post-{{ post.id }} {% if post.url.current_page? %}is-current{% endif %}">
  <a class="home-link link-hover" href="/">Tim's Blog</a>

  <header class="post-header">
    {% if post.private? %}
      <div class="private-indicator" title="This post is private">&#128274;</div>
    {% endif %}

    {% if post.url.current_page? == false %}
      <a href="{{ post.url }}">
        <h1 class="title post-title">{{ post.title }}</h1>
      </a>
    {% else %}
      <h1 class="title post-title">{{ post.title }}</h1>
    {% endif %}

    <p>
      {% assign postdate = post.published_at %}
      {% include 'date' %}
      
      {% if post.url.current_page? %}
        <span class="view-count">
          | {{ post | view_count: 'page view' }}
        </span>
      {% endif %}
    </p>
  </header>

  <div class="body">
    {{ post.body }}
  </div>

  {% if post.url.current_page? %}
    {% include 'bio' %}
  {% endif %}

  <footer>
    <div class="details">
      {% unless post.url.current_page? %}
        {% if post.comment_count > 0 %}
          <a href="{{ post.url }}" class="{{ post.url | text_if_current }}">
            {{ post.comment_count | pluralize: 'comment' }}
          </a>
          &bull;
        {% endif %}
      {% endunless %}

      {% if post.show_byline? %}
        <span class="author">
          by
          {% if post.author.url %}
            <a href="{{ post.author.url }}">{{ post.author.name }}</a>
          {% else %}
            {{ post.author.name }}
          {% endif %}
        </span>
      {% endif %}
    </div>

    {% comment %} {{ post | share_buttons }} {% endcomment %}
  </footer>
</article>
