{% if posts.current_page == 1 %}
  {% assign post = posts.first %}
  {% include 'post' %}
  <section class="post-links">
    {% for post in posts offset:1 %}
      {% include 'postlink' %}
    {% endfor %}
  </section>
{% else %}
  <section class="post-links link-page">
    <a class="home-link link-hover" href="/">Tim's Blog</a>
    {% for post in posts %}
      {% include 'postlink' %}
    {% endfor %}
  </section>
{% endif %}

<footer data-aos="fade-up" data-aos-duration="1000">
  <a class="link-hover" href="{{ site.archive_url }}">Archive</a>
</footer>

{% comment %}
{% if posts.pagination %}
  <footer class="pagination">
    {% if posts.pagination.previous %}
      <a class="pagination-link link-hover" href="{{ posts.pagination.previous.url }}">{{ posts.pagination.previous.title }}</a>
    {% endif %}
    {% if posts.pagination.next %}
      <a class="pagination-link link-hover" href="{{ posts.pagination.next.url }}">{{ posts.pagination.next.title }}</a>
    {% endif %}
  </footer>
{% endif %}
{% endcomment %}
