<section class="archive">
  <a class="home-link link-hover" href="/">Tim's Blog</a>

  <h2 class="title">Archive</h2>

  <div class="archive-months">
    <ul>
      {% archive_months %}
        <li>
          <a href={{ month.url }} class="link-hover">{{ month.date }}</a> ({{ month.count }})
        </li>
      {% endarchive_months %}
    </ul>
    <div class="archive-all-dates">{{ archive.all_dates_link }}</div>
  </div>

  <div class="archive-results">
    {% form 'archive' %}
    <ul>
      {% archive_results date_format:"%B %e, %Y" %}
        <a class="post-link" href="{{ result.url }}">
            <h2 class="title">{{ result.title }}</h2>
            <span>{{ result.date }}</span>
        </a>
      {% endarchive_results %}
    </ul>

    <div class="archive-pagination">
      {{ archive.pagination }}
    </div>
  </div>
</section>
